# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

/GFPGAN/experiments/pretrained_models/GFPGANv1.pth.1
/GFPGAN/experiments/pretrained_models/GFPGANv1.pth.2
docker-volumes/messaging-broker-rabbitmq/data/.erlang.cookie
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq-feature_flags
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq.pid
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/cluster_nodes.config
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/nodes_running_at_shutdown
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_durable_exchange.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_durable_queue.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_durable_route.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_runtime_parameters.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_serial
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_topic_permission.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_user_permission.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_user.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/rabbit_vhost.DCD
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/schema_version
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/schema.DAT
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/coordination/rabbit@messaging-broker-rabbitmq/00000002.wal
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/coordination/rabbit@messaging-broker-rabbitmq/meta.dets
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/coordination/rabbit@messaging-broker-rabbitmq/names.dets
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/quorum/rabbit@messaging-broker-rabbitmq/00000002.wal
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/quorum/rabbit@messaging-broker-rabbitmq/meta.dets
docker-volumes/messaging-broker-rabbitmq/data/mnesia/rabbit@messaging-broker-rabbitmq/quorum/rabbit@messaging-broker-rabbitmq/names.dets
